extends layout
block content
//- Conditional to show error when there is a problem
//-  (true === true) ? h1 wooo ? h2 no
block content

  h1 New Book
 
  form(method="post" action="")
    p
      label(for="title") Title
      input(name="title" type="text" id="title" )
    p
      label(for="author" ) Author
      input(name="author" type="text" id="author" )
    p 
      label(for="genre") Genre
      input(name="title" type="text" id="title" )
    p 
      label(for="year") Year
      input(name="title" type="text" id="title" )
    p
      input(type="submit" value="Create New Book")
    a.button(href="/") Cancel
    br
    br
    h5 this is new-book.pug
